<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>

<% if has_posts_or_comments? %>
   <h2>Posts</h2>
   <%= render @user.posts %>

   <h2>Comments</h2>
   <%= render @user.comments %>
 <% else %>
  <h4><%= @user.name %> has not submitted any posts.</h4>
<% end %>

<% if @user.favorites.empty? %>
  <h4><%= @user.name %> has not favorited any posts.</h4>
<% else %>
  <h2>Favorited Posts</h2>
  <% @user.favorites.each do |f| %>
    <div class="media">
        <div class="media-left">
            <%= image_tag f.post.user.avatar_url(60) %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to f.post.title, topic_post_path(f.post.topic, f.post) %>
            <%= render partial: "labels/list", locals: { labels: f.post.labels } %>
          </h4>
          <small>
            submitted <%= time_ago_in_words(f.post.created_at) %> ago by <%= f.post.user.name %> <br>
            <%= f.post.comments.count %> Comments | <%= f.post.votes.count %> Votes
          </small>
        </div>
    </div>
  <% end %>

<% end %>
